@{
    ViewBag.Title = "Redis Lunch and Learn Demo";
}

<div>
    <h1>Redis lunch and learn demo!</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>Value @ViewBag.SomethingImportant was read from session!</p>
</div>